html {
    height: 100%;
    background-color: black;
    color: chartreuse;
    font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    font-family: 'Exo', Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.blinking {
    animation: blinking .8s infinite;
}

.line {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 10%;
    font-family: 'Monoton', Helvetica, sans-serif;
    border-bottom: 2px dotted chartreuse;
    margin-left: .5rem;
}

header p {
    font-size: 3rem;
}

main {
    display: flex;
    height: 80%;
    width: 100vw;
    flex-direction: column;
    margin-left: 1rem;
}

.explanations {
    display: flex;
    flex-direction: column;
    height: 40%;
    margin-top: 1rem;
}

form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: black;
    border-radius: .7rem;
    border: 1px solid chartreuse;
    border-color: chartreuse;
    margin-bottom: .8rem;
}

input {
    box-sizing: border-box;
    border-radius: .7rem;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem;
    height: 2rem;
    margin-top: 1rem;
}

input::placeholder {
    color: black;
    opacity: 0.4;
}

#infos {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#name,
#firstName {
    width: 40%;
}

#class {
    width: 10%;
}

#mail {
    width: 90%;
}

#email {
    width: 100%;
    ;
}

input[type="submit"] {
    width: 50%;
}

input[type="submit"] {
    color: black;
    background-color: chartreuse;
    margin-bottom: 1rem;
    vertical-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    border-top: 2px dotted chartreuse;
    margin-left: .5rem;
}


.container {
    display: flex;
}

.container div {
    display: flex;
    margin-right: .5rem;
}

@keyframes blinking {
    0% {
        color: black
    }

    50% {
        color: chartreuse
    }

    100% {
        color: black
    }
}