html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    color: chartreuse;
    font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    font-family: 'Exo',
        Helvetica,
        sans-serif;
}

.blinking {
    animation: blinking .8s infinite;
}

header,
h1 {
    font-family: 'Monoton', Helvetica, sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: black;
    border-bottom: 2px dotted chartreuse;
    margin-left: .5rem;
}

header p {
    font-size: 3rem;
}

main p {
    margin: 0rem 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin-top: 10vh;
    margin-left: 1rem;
    margin-bottom: 6vh;
}

.explanations {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 15vh;
    margin-top: 1rem;
}

#rotateCube {
    width: 45vw;
}

.presentation {
    display: flex;
    width: 98vw;
}

.line {
    display: flex;
    align-items: flex-end;
}

span {
    margin-left: .5rem;
}

/*-----FORM--------*/

form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: black;
    border-radius: .7rem;
    border: 1px solid chartreuse;
    border-color: chartreuse;
    margin-bottom: .8rem;
}

input,
select {
    box-sizing: border-box;
    border-radius: .7rem;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem;
    height: 2rem;
    margin-top: 1rem;
}

input[name="bot-field"] {
    visibility: hidden;
    height: 0rem;
    margin-top: 0;
    padding: 0;
}

input::placeholder {
    color: black;
    opacity: 0.4;
}

.infos {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#lastName,
#firstName {
    width: 40%;
}

select {
    width: 10%;
}

.mail {
    width: 90%;
}

#email {
    width: 100%;
}

.captcha {
    margin-top: 1rem;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    width: 50%;
    color: black;
    background-color: chartreuse;
    margin-bottom: 1rem;
    vertical-align: center;
}

/*-------------------------------------*/

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 6vh;
    border-top: 2px dotted chartreuse;
    background-color: black;
    margin-top: 94vh;
    margin-left: .5rem;
}

a {
    text-decoration: none;
    color: yellowgreen;
    padding: 2rem;
}

.container {
    display: flex;
}

.container div {
    display: flex;
    margin-right: .5rem;
}

.greenLight {
    border: 3px solid chartreuse;
}

.redLight {
    border: 3px solid red;
}

.lessons p {
    margin: 2rem 0;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
}

button {
    text-decoration: none;
    border: .2rem solid chartreuse;
    padding: .5rem;
    width: 10vw;
    background-color: green;
    color: chartreuse;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 1rem;
}

button:hover,
button:focus {
    background-color: chartreuse;
    color: black;
}

button:focus {
    border: .1rem solid blue;
}

.screenshot {
    width: 90vw;
    margin: 3rem 0;
}

.code {
    border: .3rem solid chartreuse;
    color: black;
    background-color: whitesmoke;
    width: 60vw;
    margin: 2rem 0;
    display: none;
}

img {
    width: 100%;
}

#premiereBalle {
    width: 30vw;
}

#ballePlusLisse {
    width: 20vw;
    margin-left: 4vw;
}

#boiteDecalee,
#boitePenchee {
    width: 40vw;
}

.lessons {
    margin-left: 2rem;
}

.lessons p {
    margin-left: 2rem;
}

ul {
    margin: 2rem 4rem;
}

li {
    padding-left: 1rem;
}

h1 {
    font-size: 1.5rem;
    padding: .5rem;
}

@keyframes blinking {
    0% {
        color: black
    }

    50% {
        color: chartreuse
    }

    100% {
        color: black
    }
}