<div class="boucle lessons">
    <h1>UNE-BOUCLE?</h1>
    <p>Comme son nom l'indique une boucle, en programmation, est un morceau de programme qui tourne sur lui-même.</p>
    <p>Dit comme ça, ça n'a pas l'air de présenter beaucoup d'intérêt.</p>
    <p>Alors disons-le autrement!</p>
    <p>Une boucle, en programmation, permet de faire exécuter à l'ordinateur, plusieurs fois la même chose.</p>
    <p>Et ça, contrairement à nous les humains, les ordinateurs savent très bien faire.</p>
    <p>Vous avez eu envie un jour l'envie de compter jusqu'à 10000?</p>
    <p>Moi non. Trop fatiguant!</p>
    <p>Et puis surtout, arrivé à 50 à peine, j'en aurais déjà marre et je commencerais à commettre des erreurs.</p>
    <p>Un ordinateur en revanche est capable de faire ça à toute vitesse et sans jamais se tromper!!!</p>
    <h1>APPRENDRE-A-FAIRE-SES-LACETS</h1>
    <p>Mais comment faire faire ça à un ordi?</p>
</div>