<div class="setup lessons">
    <h1>COMMENCER-A-CODER</h1>
    <p>Quand vous aurez cliqué sur "EDITEURDECODE" en haut à droite de cette page, voici
        l'interface dans laquelle
        vous coderez.</p>
    <p>(voir image ci-dessous)</p>
    <p>Ne vous inquiétez pas si vous ne comprenez pas ce qui est écrit.</p>
    <p>Ecrivez simplement votre code au fur et à mesure après la ligne 21.</p>
    <div class="screenshot" id="setup">
        <img src="./assets/screenshots/genralsetup.jpg" alt="coding interface">
    </div>
</div>