<div class="lessons croix-rouges">
    <h1>ALLO-LES-CROIX-ROUGES?</h1>
    <p>Lorsque vous constatez que votre code ne fonctionne plus, qu'il est cassé, la première chose à faire est de vous dire
        que c'est à cause de vous! ;)</p>
    <p>Oui, je sais, notre fierté en prend un coup mais si vous voulez programmer autant vous y habituez car c'est très très très fréquent...</p>
    <p>99.99% des fois où notre code casse, c'est nous et nous seuls qui l'avons cassé...Et oui!</p>
    <p>Donc, inutile de râler après la machine, de lancer le clavier en l'air, de devenir grossier!</p>
    <p>De plus, je vais vous donner quelques outils pour vous aider à ne pas rester bloqué.</p>
    <p>Comme le titre l'indique, le premier de ces outils est l'éditeur de code.</p>
    <p>En effet, la majorité des bugs (ces sales petites bêtes qui viennent se glisser dans le code et qui mettent tout en l'air,</p>
    <p>sont des erreurs de frappe, des typos. Peut-être qu'un point-virgule manque, qu'un espace n'a pas été mis au bon endroit.</p>
    <p>Dans ce cas, l'éditeur vous indique dans la marge à gauche, grâce à des petits croix rouges, où il soupçonne que vous avez commis une erreur.</p>
    <div class="screenshot red-cross">
        <div><img src="../assets/screenshots/redCross.png" alt="example of a red cross thrown in editor"></div>
    </div>
    <p>Ici, j'ai oublié un point.</p>
    <p>Les indications ne sont pas toujours directement utilisables mais elles permettent d'aller chercher une erreur de frappe quelque part.</p>
    <p>Les croix rouges doivent vous mettre tout de suite la puce à l'oreille: j'ai dû oublier une accolade, une parenthèse, un point-virgule, etc.</p>
</div>