<div class="donuts lessons">
    <h1>HMMMMMM-DES-DONUTS!</h1>
    <p>Il nous reste à apprendre une dernière recette de forme simple: le donut!!!</p>
    <p>Le donut a un nom plus savant: le tore.</p>
    <p>C'est pourquoi la recette sera cette fois: TorusGeometry.</p>
    <p>Ajoutons cette dernière forme à notre ensemble de formes simples.</p>
    <p>A votre tour de reproduire ce résultat:</p>
    <div class="screenshot">
        <img src="./assets/screenshots/donut.jpg" alt="">
    </div>
    <p>--! NE REGARDEZ PAS LA SOLUTION AVANT D'AVOIR VRAIMENT EXPERIMENTE VOS SOLUTIONS !--</p>
    <p>INDICE: pour arrondir votre donut, ajoutez des paramètres (ces chiffres entre parenthèses)</p>
    <p>Vérifiez que vos lignes de code ressemblent bien à celles-là:</p>
    <button class='reveal'>VOIR LE CODE</button>
    <div class="code">
        <p>var recetteDeDonut = new THREE.TorusGeometry(40, 10, 120, 100);</p>
        <p>var monPremierDonut = new THREE.Mesh(recetteDeDonut, surface);</p>
        <p>scene.add(monPremierDonut);</p>
        <p>monPremierDonut.position.set(200, 150, 0);</p>
    </div>
</div>