<form action="" name="signIn" method='POST' netlify-honeypot="bot-field" data-netlify="true" novalidate>
<p>Si vous souhaitez vous inscrire, complétez ce formulaire et cliquez sur "Je voudrais m'inscrire"</p>
<p>Pour les nouveaux candidats au PasteurCodeClub, il reste seulement 5 places.</p>
<p>Vous serez averti avant les vacances de la Toussaint si votre candidature est acceptée.</p>
<p>Pour faire partie du club, vous devrez être présent tous les lundis à 12h30 en salle 203.</p>
<p>Vous serez prioritaire au restaurant scolaire.</p>
<p>Si vous êtes externe, vous devrez rester dans l'établissement à midi et dejeuner sur place au restaurant scolaire.</p>
<p>Si vous devez rentrer chez vous déjeuner, votre inscription ne sera pas possible.</p>
<p>L'appel sera fait. Vous ne pourrez donc manquer une séance que si votre absence est justifiée.</p>
<h1>ATTENTION</h1>
<p>Vous prenez l'ENGAGEMENT de venir au club jusqu'à la fin de l'année scolaire en juillet 2020.</p>
<p>Vous devez pouvoir utiliser un ordinateur chez vous afin de poursuivre le travail fait les lundis.</p>
<p>Vous devez être en possession d'une clé USB à chaque séance.</p>
    <input name="bot-field" /></label>
    <div class="infos">
        <input type="text" placeholder="NOM" id="lastName" name="lastName" pattern="[A-Za-z]+" required autofocus>
        <input type="text" placeholder="PRENOM" id="firstName" name="firstName" pattern="[A-Za-z]+" required>
        <select name="division" id="division">
            <option value="5B">5B</option>
            <option value="5C">5B</option>
            <option value="5D">5B</option>
            <option value="5E">5B</option>
            <option value="5F">5B</option>
            <option value="4B">5B</option>
            <option value="4C">5B</option>
            <option value="4D">5B</option>
            <option value="4E">4D</option>
            <option value="4F">4E</option>
            <option value="3B">4E</option>
            <option value="3C">4E</option>
            <option value="3D">4E</option>
            <option value="3E">4E</option>
        </select>
        <select name="regime" id="regime">
            <option value="DP">Demi-Pensionnaire</option>
            <option value="EXT">Externe</option>
        </select>
    </div>
    <div class="captcha" data-netlify-recaptcha="true"></div>
    <div class="mail"><input id="email" type="email" placeholder="exemple@mail.com"></div>
    <input type="submit" value="Je voudrais m'inscrire">
</form>