<div class="presentation">
    <div class="explanations">
        <span class="blinking">_</span>
    </div>
    <div id="rotateCube"></div>
</div>

<nav class="navigation">
    <h1>OU-ECRIRE-LE-CODE?</h1>
    <ul>
        <li><button class="nav" id="commencer">EXPLICATIONS</button></li>
    </ul>
    <h1>BASES-DE-PROGRAMMATION</h1>
    <ul>
        <li><button class="nav" id="variable">VARIABLE</button></li>
        <li><button class="nav" id="boucle">BOUCLE</button></li>
    </ul>
    <h1>HELP-MON-CODE-EST-CASSE: DEBUGGING</h1>
    <ul>
        <li><button class="nav" id="croix-rouge">CROIX ROUGE</button></li>
    </ul>
    <h1>CREER-DES-FORMES-BASIQUES</h1>
    <ul>
        <li><button id="balle" class="nav">BALLE</button></li>
        <li><button id="cube" class="nav">CUBE</button></li>
        <li><button id="tube" class="nav">TUBE</button></li>
        <li><button id="surface" class="nav">SURFACE</button></li>
        <li><button id="donut" class="nav">DONUT</button></li>
        <li><button id="codeFormes" class="nav">TOUT</button></li>
    </ul>
    <h1>CREER-ET-DEPLACER-UN-AVATAR</h1>
    <ul>
        <li><button id="avatarEtape1" class="nav">CREER</button></li>
        <li><button id="avatarEtape2" class="nav">ASSEMBLER</button></li>
        <li><button id="avatarEtape3" class="nav">BOUGER</button></li>
        <li><button id="avatarEtape4" class="nav">SUIVRE</button></li>
    </ul>
</nav>