<div class="variable lessons">
    <h1>QU'EST-CE-QU'-UNE-VARIABLE?</h1>
    <p>Un ordinateur est un maniaque du rangement.</p>
    <p>Il tient à garder sa mémoire en ordre et veut savoir à n'importe quel moment où se trouve chaque chose qu'il possède...</p>
    <p>Pour ranger ces choses, ces trucs et ces machins, il va utiliser des sortes de boîtes, des 'variable'.</p>
    <p>Sur chaque boîte, il mettra un étiquette pour bien la retrouver ensuite.</p>
    <p>Et dans cette boîte, il rangera ce fameux machin, cet incroyable truc si précieux.</p>

    <h1>COMMENT-CREER-UNE-NOUVELLE-BOITE?</h1>
    <p>En Javascript, plusieurs moyens s'offrent à nous.</p>
    <p>Vous pouvez utliser les mots: 'var', 'let' ou 'const' pour créer une nouvelle boîte.</p>
    <p>Une fois que vous avez écrit un de ces mots, vous ajouter l'étiquette à coller sur cette nouvelle boîte.</p>
    <p>Puis vous ouvrez cette boîte grâce au signe: '='.</p>
    <p>Enfin, vous placez votre 'truc' génial à l'intérieur.</p>
    <button class="reveal">VOIR L'EXEMPLE</button>
    <div class="code">
        <p>var monEtiquette = 'truc';</p>
        <p>let monAutreEtiquette = 'machin';</p>
        <p>const maDerniereEtiquette = 'bidule';</p>
    </div>
    <h1>MAIS-A-QUOI-CA-SERT?</h1>
    <p>Une variable est très pratique car elle permet de stocker des trucs dont on aura besoin plus tard!</p>
    <p>Une variable, c'est donc un 'truc' de flemmard! Comme tout le codage d'ailleurs ;)</p>
    <p>Tenez! Imaginez deux secondes que je tape ce texte affreux --> 'azertyuiopqsdfghkjlmwxcvbnnbvcxwlkjhgfdsqpoiuuytrez'</p>
    <p>Comme j'ai la flemme de le retaper à chaque fois que j'en aurai besoin, je peux le stocker dans une variable!</p>
    <button class="reveal">STOCKAGE EN COURS</button>
    <div class="code">
        <p>const monTruc = 'azertyuiopqsdfghkjlmwxcvbnnbvcxwlkjhgfdsqpoiuuytrez';</p>
    </div>
    <p>Voilà c'est fait.</p>
    <p>Maintenant dès que je parle de 'monTruc' vous comprenez que je parle de 'azertyuiopqsdfghkjlmwxcvbnnbvcxwlkjhgfdsqpoiuuytrez'!</p>
    <p>'montruc' est trop long à retaper et je pourrais me tromper plein de fois en essayant.</p>
    <p>Alors qu'en appelant 'monTruc', l'ordinateur sait qu'il doit aller chercher directement dans la boîte qui porte ce nom.</p>
    <p>Il va y trouver le long mot incompréhensible sans que j'aie eu besoin de le retaper!</p>
    <p>Etre flemmard, c'est parfois être surtout très futé!</p>
    <h1>REUTILISER-UNE-BOITE</h1>
    <p>Vous n'êtes pas obligé de créer une boîte à chaque fois que vous avez quelque chose de nouveau à stocker.</p>
    <p>Vous pouvez très bien réutiliser une boîte.</p>
    <p>Pour y mettre ce nouvel objet, vous n'avez qu'à ouvrir votre boîte avec '=' et y déposer cet objet.</p>
    <button class="reveal">REUTILISATION</button>
    <div class="code">
        <p>monTruc = 'nouvel objet';</p>
    </div>
    <p>ATTENTION! Le contenu précédent a maintenant disparu à jamais!!!</p>
</div>